# Unity-generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Visual Studio / JetBrains Rider
*.csproj
*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Crash logs
sysinfo.txt

# Rider
.idea/

# Asset store tools (optional)
#Assets/AssetStoreTools*
